* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
 /* scroll-behavior: smooth;*/
}

body { 
  text-align: center;
  color: rgb(255,255,255);
  background-color: rgba(149, 175, 192, 1.0);
}

figure {
  width: 600px;
  background-color: rgba(83, 92, 104, 1.0);
}

li {
  list-style: none;
}

p {
  font-size: 2em;
}

h5 {
  font-size: 1.8em;
  margin: 10px auto;
}

#tabs-container {
  margin: 0 auto;
  width: 50%;
}

#profile-img, #hydration-img, #sleep-img, #activity-img {
  height: 100px;
  padding: 0 20px;
  width: 100px;
}

#profile-img, #hydration-img, #sleep-img {
  border-right: solid white 2px;
}

#hydration, #sleep-quality-data-container {
  display: flex;
  justify-content: space-around;
}

#sleep-hours-data-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#hydration-data, #sleep-hours-data, #sleep-quality-data {
  align-self: center;
  display: flex;
  flex-direction: column;
}