* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
 /* scroll-behavior: smooth;*/
}

body { 
  text-align: center;
  color: rgb(255,255,255);
  /*color: rgba(19, 15, 64,1.0);*/
  background-color: rgba(149, 175, 192, 1.0);
}

.welcome, .today, #user-details, #profile-img, #hydration-img, #hydration, #sleep-img, #sleep, #activity-img, #activity{
  display: none;
}

canvas {
  background-color: rgba(83, 92, 104, 1.0);
}

li {
  list-style: none;
}

#tabs-container {
  margin: 0 auto;
  width: 50%;
}

img {
  fill: 'blue';
  height: 100px;
  padding: 0 20px;
  transition: transform .2s;
  width: 100px;
}

img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

#hydration-container, #sleep-quality-data-container {
  display: flex;
  justify-content: space-around;
}

#sleep-hours-data-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#hydration-data, #sleep-hours-data, #sleep-quality-data {
  align-self: center;
  display: flex;
  flex-direction: column;
}